<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="">
    <div class="sm:w-11/12 md:w-10/12 m-auto">
      <!-- top bar -->
      <div class="w-full flex">
        <nav class="flex w-full">
          <div class="w-full">
          Earthly Workshop
          </div>
          <div class="w-1/3">
            <ul class="flex">
              <li>Item 1</li>
              <li>Item 2</li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- end top bar -->
      <!-- main area -->
      <div class="flex w-full">
        <!-- left nav -->
        <div class="w-1/4 p-5">
          <ul>
            <li class="nav-item">Item 1</li>
            <li class="nav-item">Item 2</li>
          </ul>
        </div>
        <!-- end left nav -->
        <!-- main content -->
        <div class="w-full">
          {{ content }}
        </div>
        <!-- end main content -->
      </div>
      <!-- end main area -->
    </div>
    <nav>
    </nav>
  </body>
</html>
